[2017-09-05 10:04] ritwik12 opened #2 "user text recognition"
Right now this virtual assistant is comparing strings entered by user directly, But it is not a good way as there are thousands of options and we can't compare all.
So for that purpose we need to make our Virtual assistant intelligent so that it can understand what a user wants it to do.

NLP is one solution to that.

[2017-09-06 17:23] riya-17 opened #4 "Feature : Weather"
Get to Know the weather forecast for any location.

[2017-09-12 05:32] #4 closed

[2017-10-27 15:47] speedy-software commented on #2
What do you mean by NLP? Neuro Linguistic Programming? or Neuronal Networks?

[2017-10-27 16:09] ritwik12 commented on #2
@speedy-software Natural language processing.

[2017-10-27 20:16] speedy-software commented on #2
can i try to help out? i used to code in C/C++ in 2003 or so, and stopped 'till now. Wanna start over again and want some people to guide me and motivate me to get into this area again.

[2017-10-27 20:28] ritwik12 commented on #2
@speedy-software Yes sure, you can try :)
Tell me if you need any help.

[2017-10-27 20:29] ritwik12 opened #7 "Maps"
Google map integration to find a place or even a restaurant and show the result.

[2017-10-27 21:15] speedy-software commented on #2
are we gonna do it with deep learning?

[2017-10-28 04:04] ritwik12 commented on #2
@speedy-software It is your choice, you can do it in whichever way using
A.I.
The only requirement is that it should be in C.
Most of the A.I algorithms are written for Python or R.
Implementing them in C is a huge task itself.
Do Look at your approach before beginning.

On Sat, Oct 28, 2017 at 2:45 AM, speedy-software <notifications@github.com>
wrote:

[2017-10-28 04:05] ritwik12 commented on #2
@speedy-software It is your choice, you can do it in whichever way using A.I. The only requirement is that it should be in C. Most of the A.I algorithms are written for Python or R. Implementing them in C is a huge task itself. Do Look at your approach before beginning.

[2017-10-28 13:57] speedy-software commented on #2
but do you want to for now continue with the started implementation style?

[2017-10-28 17:13] ritwik12 commented on #2
@speedy-software  I think I have implemented enough features for now.
I am working on this only for now.
but new features are always welcome.

[2017-10-28 21:02] speedy-software-ch commented on #2
ok, cause i have no idea about NLP at all. but your "codebase" for now is more or less understandable by me. and since i want to get back on track with C/C++, i see it as a good way to go for me.

[2017-10-29 04:37] ritwik12 commented on #2
@speedy-software  It's ohk, you may contribute by adding more features to it.

[2017-11-02 04:43] ritwik12 opened #9 "Restaurant"
Just like we are getting the weather forecast, we can even get the list of restaurants near us.

[2017-11-04 16:53] ritwik12 commented on #2
**Implemented Natural Language Processing**

Used a modified version of Multinomial Naive Bayes Algorithm which I created on my own and call it "Simplified Multinomial Naive Bayes Algorithm "

[2017-11-04 16:54] ritwik12 commented on #2
Any better approach than this or improvements in accuracy and efficiency are always welcomed.

[2017-11-06 18:02] ritwik12 opened #12 "Text to speech"
Right now we are using GNUstep speech engine for text to speech.
But it is not that good and we can use something better like eSpeak or festival.
Suggestions are welcomed.

[2017-11-06 18:05] ritwik12 opened #13 "Speech to Text"
Virtual assistant is only text to speech at this moment as it is hard to implement Speech to text in C language.
But if we can have Speech to text too, then we'll be able to use it with voice commands also and that'll be an huge improvement.

[2017-11-06 18:24] speedy-software-ch commented on #13
isn't there a library to do that?

[2017-11-06 19:55] ritwik12 commented on #13
@speedy-software-ch Non of the APi's are available for C.
or maybe I couldn't find any.

[2017-11-06 20:00] speedy-software-ch commented on #13
ok. i'll try to research it too.

[2017-11-06 20:07] ritwik12 commented on #13
@speedy-software-ch Thanks

[2017-11-11 18:16] speedy-software-ch opened #14 "saving the arrays into file or DB?"
Don't we want to save the arrays for AI into files or DB?

[2017-11-12 04:54] ritwik12 commented on #14
Ya we can, but it is simple like this.
When our data size increases.we can shift it to a new file or database.

[2017-11-15 14:39] Rushikesh22 commented on #9
Hi. I would like to work on this. This would be my first contribution so could you please give me some starting advice?

[2017-11-15 15:01] speedy-software-ch commented on #9
welcome on the project. is places api from google free to use,or do they charge? 'cause if it's free maybe there is a possibility to do that over curl.

[2017-11-15 15:53] ritwik12 commented on #9
Hey @Rushikesh22
We can use google api for this. But implementing that in C might be a problem.
I have one way of doing it but that is just like our youtube and google search feature.
Here it goes

Algorithm for Google Search
Step1 - Start
Step2 - Read user's input and store it in a string. Example : String = Artificial Intelligence
Replace all the blank spaces with \+". Example : String = Artific

[2017-11-15 17:47] speedy-software-ch commented on #9
still we could use curl

[2017-11-15 17:49] speedy-software-ch commented on #9
still we could use curl

[2017-11-15 18:39] ritwik12 commented on #9
@speedy-software-ch  Yes we could use it :)

[2017-11-17 15:07] Rushikesh22 commented on #9
I'm done with this. I've used libcurl with google places API. Will send a pull request soon.

[2017-11-17 15:14] ritwik12 commented on #9
@Rushikesh22 Great, please send as soon as you can :)

[2017-11-18 07:39] riya-17 opened #16 "Reminder"
Reminder which can help us schedule our work or remember special days and to be up to time.

[2017-11-18 17:58] ritwik12 commented on #16
@riya-17 Yes that will be a great feature.

[2017-11-19 19:24] danjod99 opened #17 "Code readability issues"
Your idea seems interesting but after quick look at the repository I noticed some alarming problems with style of your code and overall structure. To begin with, your project consists of just *ONE* file and, which is even worse, only *ONE* function that is somewhere around 400 lines long. There is a serious need to split sections of your main function into multiple functions to make maintenance an

[2017-11-19 19:28] ritwik12 commented on #17
@danjod99 Well thanks a lot for your view but I did  that on purpose because when I started it . I needed contributors that were beginners and beginners find it problamatic with lots of files.
But now I took it to another level, now it will be a good time to do it in a standard way.

[2017-11-19 19:29] ritwik12 commented on #17
@danjod99 I would like your help in this if you can, feel free to create an issue and send a PR.

[2017-11-19 19:58] danjod99 commented on #17
@ritwik12 Thanks for your trust, but due to lack of time I can't contribute actively to the code itself, especially that I use mainly C++ and my knowledge of C is very basic.

[2017-11-19 20:04] ritwik12 commented on #17
@danjod99 That's ohk, try to help whenever you can.
I am also having a shortage of time nowadays so it will take me time to do what you said.

[2017-11-20 00:21] speedy-software-ch commented on #17
i don't have a shortage of time actually, and already working on the code, though i'm a re beginner. used to code win32 API and SDL stuff back in the days (more than 10 years ago) and want to get back on coding. I just need some motivation and mental reassurance (; lol

[2017-11-20 13:09] ritwik12 commented on #17
@speedy-software-ch We would like your help on this issue if you can. :)

[2017-11-20 13:11] ritwik12 opened #18 "Gmail"
It will be a great feature if Virtual assistant could open Gmail or read Gmail notifications.

[2017-11-20 13:12] ritwik12 commented on #18
@speedy-software-ch You may have already done this as you mentioned before.It will be a good feature.Have a look at it.

[2017-11-23 16:42] speedy-software-ch commented on #4
don't we want to implement the curl stuff in this feature the same as for Restaurants?

[2017-11-23 17:46] ritwik12 commented on #4
@speedy-software-ch This feature works great.we are already using curl in this

[2017-11-23 18:55] speedy-software-ch commented on #4
yeah but over the system command and not the library

[2017-11-23 21:58] ritwik12 commented on #4
@speedy-software-ch Yes, but that does the work in a good and easy way.If there is any benefit in doing some other way, then we will absolutely like to do that.Please let me know

[2017-11-23 23:52] speedy-software-ch commented on #4
just for consistency and making sure we don't blow up the dependencies list to fast.

[2017-11-24 00:09] ritwik12 commented on #4
I appreciate your point. But the current feature gives the desired output and also the output is very attractive. It might be possible that your method will be better than this. But I don't want you out anyone work hard and later realize that the old one was better. Please try and submit a PR if you are confident that it'll be better than the present one.

[2017-12-06 21:41] ritwik12 commented on #9
Merged #15

[2017-12-06 21:41] #9 closed

[2017-12-06 21:43] ritwik12 commented on #14
@speedy-software-ch This could be implemented.As now we have a huge code with enough AI arrays.

[2017-12-17 06:09] ritwik12 opened #25 "A.I class for Calendar"
Right now we are only having direct comparisons for calendar feature like "open calendar","calendar".

[2017-12-17 06:12] ritwik12 commented on #18
@speedy-software-ch Will that take some time?

[2017-12-29 00:41] sihussain2 commented on #17
I would like to help. but this is my first time in github. how can i help? i am an experience C developer

[2017-12-29 05:27] speedy-software-ch commented on #17
@sihussain2 ahlan wa sahalan. min wein inti?

[2017-12-29 06:57] ritwik12 commented on #17
@sihussain2 Hey, thanks for taking interest, I would advice you to get familier with Github and then just fork my repo and make changes to your forked repo and then after making changes send a PR

[2017-12-29 14:51] sihussain2 commented on #17
Alrighty. I will do it this weekend

On Dec 29, 2017 1:57 AM, "Ritwik Sharma" <notifications@github.com> wrote:

[2018-01-03 22:37] speedy-software-ch commented on #7
We could use mapscii.me for that. you can telnet into that address to get a map of the whole world in ASCII in the terminal.

[2018-01-04 10:23] ritwik12 commented on #7
@speedy-software-ch Restaurant is already implemented, it will be good if you give maps a try

[2018-01-04 23:49] speedy-software-ch commented on #7
@ritwik12 I need to see what parmeters can be set in mapscii.me. giving coordinates wanted and zoom level could be cool but i need to check that.

[2018-01-05 12:22] ritwik12 commented on #7
@speedy-software-ch Ohk sure.Take your time

[2018-01-13 22:53] speedy-software-ch opened #27 "How can I set another output soundcard for "say" command?"
On my laptop "say" command works as intended even though i have two sound outputs (Normal and HDMI audio). Due to me recording and producing music too, on my desktop PC i have the normal Soundcard installed in the Tower (which i don't use), and an external one connected over USB. I can switch to which device i wanna use in ubuntu over pulseaudio selection, or even alsa, but it doesn't change which

[2018-01-27 22:03] ritwik12 commented on #17
@johntabor  Thanks!!....... That'll be of great help

[2018-02-22 12:17] theprototype opened #28 "Adding details about how to run the program in Readme file"
I find it a bit hard to know how to compile and run this program as there are some things to be added to the command while compiling like -std=c99 -lcurl -ljson. I am using the following way to compile " gcc main.c -o a -std=c99 -lcurl -ljson ". Is this the correct way or is there any other easy way I am missing.

[2018-02-22 19:03] ritwik12 commented on #28
@theprototype try gcc main.c $(pkg-config --libs --cflags libcurl) -l json std=gnu11

[2018-02-22 19:04] ritwik12 commented on #28
@theprototype You may edit the readme too for that.

[2018-03-20 03:07] varuniyer commented on #25
Hi, this would be my first contribution. I was wondering what methods/constructors the class should have.

[2018-03-20 10:34] ritwik12 commented on #25
@varuniyer Thanks your taking interest. You should first read the code for pattern classifier.. marked between the label artificial intelligence code I guess.. ee are having some keywords for each and ever categories and then we are comparing the maximum score per category... Just have a look and get familiar.. read README.md to understand the A.I CODE. If you have any doubts.. Let me know

[2018-04-10 17:57] igo4Jesus commented on #17
I have tried doing some clean up on  the code in main.c. Sharing it soon

[2018-04-10 19:26] ritwik12 commented on #17
@igo4Jesus very nice work. I have checked your work. it's working fine. Please send a PR and do check for Identations and any typos in the files. Also name them accordingly.

[2018-04-17 15:37] ritwik12 commented on #28
closing it as it's already solved.

[2018-04-17 15:37] #28 closed

[2018-04-18 19:03] ritwik12 commented on #17
Closing this. solved in #31

[2018-04-18 19:03] #17 closed

[2018-04-26 20:05] ritwik12 opened #32 "Answering any question"
Here in this feature, the virtual assistant should be able to answer almost all the questions which are available on the internet. The basic approach is to fetch the answer(knowledge) from the internet (such as Google or Wikipedia) and passing it back to the answer.
The approach which I know is to get the data from Wikipedia using Wikipedia APIs and getting the data in JSON format and converting i

[2018-05-08 07:38] ritwik12 commented on #12
@dossalab That's awesome, I checked it. There is no problem with Internet requirement as most of the features require Internet. It will be great if you can do it.

[2018-05-16 16:42] ellisken opened #33 "libjson0 deprecated or dependency issue with Ubuntu 17.10 (Artful Aardvark)"
Attempting to install the transitional packages libjson0/libjson0-dev `$ sudo apt-get install libjson0 libjson0-dev` during setup on Ubuntu 17.10 results in the following issue:
`Reading package lists... Done`
`Building dependency tree       `
`Reading state information... Done`
`E: Unable to locate package libjson0`
`E: Unable to locate package libjson0-dev`

Replacing libjson0-dev with libjson-c

[2018-05-18 04:09] KeenanTaggart commented on #13
I found a couple of good options for this although I haven't tested them myself.

Carnegie Mellon maintains speech-recognition software in a suite called CMU Sphinx. PocketSphinx is a version written in C and is meant to have low overhead for embedded systems (I think it would be cool to be able to run Virtual Assistant on a headless computer like a Raspberry Pi with a speaker/mic attached). The h

[2018-05-27 19:18] ritwik12 commented on #33
@ellisken Thanks for your contribution, sorry for the delay. It usually never happens. This time I was really busy.

[2018-05-27 19:18] #33 closed

[2018-05-30 17:19] pardeepsharma89 opened #35 "Categories like weather etc in enum"
An enum can be created of all categories and based on that rewriting of arrays and other functionality code can be handled. In future, if more categories are added, functionality should be handled automatically.

[2018-05-30 18:14] ritwik12 commented on #35
@pardeepsharma89 Great, I would like to see the implementation of this. Feel free to send a PR.

[2018-06-12 06:29] KeenanTaggart commented on #27
I did a bit of investigation to try to find a solution. I have a few leads but I'm not sure if any of them will work at present.

I downloaded the source files for _gnustep-gui-runtime_ and took a look at the source code for _say_. It's written in Objective-C (which I'm not particularly familiar with) and uses the associated sound interfaces (NSSpeechSynthesizer and NSSound). I.e. it creates a spe

[2018-06-12 06:36] KeenanTaggart commented on #27
This is just a guess, but maybe the "default sound output device" on Linux would be pulled from PulseAudio? @speedy-software-ch maybe you can try (if you haven't already) setting a default audio device in /etc/pulse/default.pa by adding the line `set-default-sink #` with the index number of the device you want.

It feels like a long shot, but I don't know where else it would be getting a system de

[2018-08-13 22:41] rmereddy commented on #16
Hi is this issue still open i would like to work on adding the reminder feature?

[2018-08-14 07:56] ritwik12 commented on #16
@rmereddy Yes it is open, you can work on it.

[2018-08-22 10:54] hw16471 commented on #25
Changed it now so the pattern classifier deals with calendar requests

[2018-08-22 10:56] harrywaugh opened #38 "Find a new way to check highest score from patter classifier, instead of nested IF/ELSE"

[2018-08-23 04:15] ritwik12 commented on #38
@hw16471 Hey, thanks for raising this issue. I am aware of this from the moment I wrote the whole code. But the problem is that the functionality of virtual assistant is in such a way that this is the best option possible. If you can try some other way keeping the working intact. Please proceed.

[2018-09-08 01:59] rthugh02 commented on #38
Hello,

I have began working on a solution to this issue and will be taking it on if that's okay with you.

[2018-09-11 16:47] ritwik12 commented on #38
@rthugh02 Good work!!

[2018-10-01 06:01] sanket-mali commented on #32
assign me on this..

[2018-10-01 13:38] ritwik12 commented on #32
@sanket-mali When this funtion will be invoked then we need to create another class/category for this functionality just like other functionalities (weather, restaurant, media, etc).

[2018-10-01 13:39] ritwik12 commented on #32
@sanket-mali Please forward with your work on this and if you face any problems I am here to help.

[2018-10-01 13:45] ritwik12 opened #41 "FAQ"
Doubt or question? Please feel free to ask here. [Me](@ritwik12) and [Riya](@riya-17) are here to answer.

[2018-10-01 14:32] sanket-mali commented on #32
In this functionality what will be the difference with the normal scenario like if we write any random word as of now it opens a browser window and search it with google..

[2018-10-01 14:41] ritwik12 commented on #32
@ritwik12 Right now we are just doing google search for the sentences we don't know. With this new functionality we can get the answer of questions just like Cortana or Siri or Google assistant answers when we ask something like "what is github?" or " which is the closest star?" etc

[2018-10-02 00:38] KaczmarekWill commented on #41
Hello! I would like to help contribute to this project. I'm taking a look at the code now and I'll hopefully have a PR in tonight.

[2018-10-02 04:59] riya-17 commented on #41
Hey! @KaczmarekWill feel free to contribute to this project. If you find any difficulty please do let us know. Happy Coding :)

[2018-10-31 05:57] joshua-deans opened #42 "Fix minor typo in README"
There is one minor typo in the README that I will fix.

If the virtual assistant **have** no idea about the user’s sentence, it will simply search that sentence on Google.

The sentence is awkward and could be adjusted

[2018-11-02 00:42] #42 closed

[2019-02-13 10:30] pavan-pan opened #46 "blank spaces"
When nothing is provided as an input, still firefox is invoked to google.

[2019-02-13 10:39] ritwik12 commented on #46
@pavan-pan That's a bug I guess. thanks for finding it. do you want to take this issue?

[2019-02-13 10:45] pavan-pan commented on #46
Sure Thanks!!

[2019-02-13 13:56] pavan-pan commented on #46
I have add the changes. Please review.

Thanks

[2019-02-13 17:40] ritwik12 commented on #46
@pavan-pan Thanks for sending PR

[2019-02-21 15:43] pavan-pan opened #50 "Code structure"
Hello all,

Is there any special reason why the code is organised by including the .c files. According to my knowledge, implementation of a function in .c file and prototype in .h file creates loose coupling among modules. I guess there is a reason why the code in this project is structured this way. I just want to know your views.

Regards,
PP

[2019-02-21 16:28] ritwik12 commented on #50
@pavan-pan There's no specific reason as such. it's just that previously it was a single main.c file consisting of all the functionalities. Then later @igo4Jesus in #31 split it in different files for better code readability. If you think something else is better. Please suggest.

[2019-02-21 16:29] ritwik12 commented on #50
@riya-17 I would like your reviews here

[2019-02-21 18:40] pavan-pan commented on #50
My idea is to divide the entire program into modules consisting .c and .h files. So every module is loosely coupled. Instead of adding .c files, .h files are included instead. When the code grows bigger, its easier when everything is organized in modules.

[2019-02-21 18:42] pavan-pan commented on #50
My idea is to divide the entire program into modules consisting .c and .h files. So every module is loosely coupled. Instead of adding .c files, .h files are included instead. When the code grows bigger, its easier when everything is organized in modules.

[2019-02-21 19:09] riya-17 commented on #50
@ritwik12 I find the idea of @pavan-pan better. It will increase the understanding of code as well. What do you think @ritwik12 ?

[2019-02-22 11:47] ritwik12 commented on #50
@pawan-pan sure, please go for it and send a PR

[2019-02-23 15:59] GaelleMarais commented on #18
Hello, I am working on this feature and I have made good progress, I will make a PR soon.

[2019-02-23 16:04] riya-17 commented on #18
Hi, @GaelleMarais this issue is open and you can surely send PR for this issue :)

[2019-04-07 09:48] Ngugisenior opened #55 "ALSA lib pcm_dmix.c:1108 error"
I keep getting this error when I try to run the command `say "hello"`

`ALSA lib pcm_dmix.c:1108 : ( snd_pcm_open )` unable to open slave `audio_open_alsa`: failed to open audio device default. Device or resource busy.

I have no other application using an audio device, `Ubuntu-19.04`.

[2019-04-07 13:30] ritwik12 commented on #55
@Ngugisenior Please try “say hello” in your terminal. maybe you have some issue with GNU SPEECH ENGINE

[2019-04-07 19:58] Ngugisenior commented on #55
Thanks, works after rebooting `say "hello"`

[2019-04-07 20:26] ritwik12 commented on #55
@Ngugisenior That's great. Happy to know

[2019-04-07 20:26] #55 closed

[2019-04-11 09:26] ritwik12 opened #56 "README addition for EMAIL"
Adding section on the working and also output screenshots for #53.

@GaelleMarais can you please help here?

[2019-04-16 09:02] jeyadosstimothy opened #57 "Increase word length"
In requests.c the class arrays are initialized with maximum word length 10, but for restaurant_class the word length is 11 for "restaurants" and 12 if '\0' is included (code below)

`char *restaurant_class[10][10] = {
    {"Please", "find", "some", "restaurants"},
    {"Find", " ", "some", "restaurants"},
    {"Show", " ", " ", "restaurants"},
    {"Find", "places", "to", "eat"}
};`

[2019-04-17 21:26] #56 closed

[2019-05-01 12:29] ritwik12 opened #62 "Add support for MacOs"

[2019-05-01 12:47] ritwik12 opened #63 "Issue with classification"
After #53, when trying to say "find places to eat". It executes email functionality which it shouldn't.

[2019-05-01 12:47] ritwik12 commented on #63
@GaelleMarais and @LilyaMel Please help in fixing this.

[2019-05-01 12:54] GaelleMarais commented on #63
Hi, I'll have a look

[2019-05-01 13:06] ritwik12 commented on #63
@GaelleMarais Thanks :)

[2019-05-01 13:18] LilyaMel commented on #63
@ritwik12  We check the code but we don't have the problem that you describe. I send you a screen, we don't know why it works for us but not for you. Please tell us if it still here
![image](https://user-images.githubusercontent.com/47354050/57018548-4bedaa00-6c24-11e9-9584-eec2f65ab685.png)

[2019-05-01 13:20] ritwik12 commented on #63
You have tried this on new PR code or latest upstream code?

[2019-05-01 13:21] LilyaMel commented on #63
Both and it works for the two of them

[2019-05-01 13:51] GaelleMarais commented on #63
I can not reproduce the bug either

[2019-05-27 06:15] ritwik12 opened #66 "Create Documentation"
Every feature of Virtual Assistant have its unique implementation such as the implementation for Restaurant, Weather, Google search, Email and Media is different for each.

To understand better it will be good to have Docs related to the working of these.

[2019-05-27 06:16] ritwik12 commented on #66
@jackycodes If you are still looking for some work, please have a look.

[2019-05-27 06:17] ritwik12 commented on #66
@GaelleMarais @LilyaMel If you have spare time and Interested, please write a Doc for Email.

[2019-07-21 06:45] virajmalia commented on #50
I have been working on reorganizing the code and using a CMake system to build it. Once I have the system running, I will need to re-add some features that were added later (email support etc.). I will try to send a PR by next week.

[2019-07-21 07:01] ritwik12 commented on #50
@virajmalia That's great, will wait for your PR, Thanks !!

[2019-07-30 14:53] Exter-dg commented on #66
I would like to work, but i have never written any documentation before this. Can i still help?

[2019-07-31 04:16] riya-17 commented on #66
@Exter-dg sure you can always contribute

[2019-08-03 18:36] Exter-dg commented on #41
Doubt- Already done with setting up in my ubuntu 19.04, i can use the hello feature but the other features are not working. Is it so that i have to open the virtual assistant first? If yes, then how?
I want to help writing the documentation, so am first learning to use it myself.

[2019-08-05 19:07] ritwik12 commented on #41
If hello is working then other features should work too. Please provide screenshot or steps about what you are doing

[2019-09-12 11:36] ritwik12 opened #72 "Reduce time complexity"
There are certain cases where we can work on Reducing the time complexity of code.

One such instance is:
https://github.com/ritwik12/Virtual-Assistant/blob/2712a8917b4480e96350af33e58fd1e59c9192f2/analysis.c#L39

[2019-09-12 11:48] ritwik12 opened #73 "Create a Makefile"

[2019-09-15 10:09] omerdagan84 commented on #72
i'm not sure we can avoid some of these loops since all categories must be scanned,
But i can suggest moving the scoring internal loop to a function and creating threads to score each class, this will definitely lower the time complexity (However this will not improve the code complexity)

[2019-09-19 05:43] ritwik12 commented on #72
We need to figure out some way or change the approach, That's tricky here

[2019-09-22 01:18] mudaliaraditya commented on #73
I would like to do the makefile part of this project

[2019-09-22 01:47] ritwik12 commented on #73
Hey @mudaliaraditya, last I heard @omerdagan84 was working on it.
@omerdagan84  Please let us know if you are done or this issue is good to be taken for @mudaliaraditya

[2019-10-03 11:27] #62 closed

[2019-10-12 15:59] rohitg00 commented on #27
Try importing speechrecognition as sr in python
It is the best way to code desktop assisstant

[2019-10-13 11:48] aurochs-angels opened #78 "Reorgainize preprocessor macros to outside of main function calls"
I suggest moving the #include directives outside of function calls, given that they are text replacement by the preprocessor and not handled at runtime. In the process init_config.c can be reorganized with appropriate sanity checks and functions, as generally using an include directive in place of functions is unusual code style.

[2019-10-13 13:24] aurochs-angels commented on #78
Current in progress work: init_config.h
`/**
 *  Define configuration functions
 * */

#include "stdio.h"
#include "string.h"
/***"Init funtions"***/
FILE *get_Config_File();
char *set_HomeDir_Var(FILE *conf);
char *set_MediaPlayer_Var(FILE *conf);
char *set_WebBrowser_Var(FILE *conf);
int config_Cleanup_Status(FILE *conf);
/***Configuration variables**/
char HOMEDIR[1000];
char WebBrowser[1000];

[2019-10-14 14:51] ritwik12 commented on #78
@aurochs-angels I am not exactly getting the changes, I can't see the code for your `Current init_config.h` that you have mentioned at the beginning

[2019-10-14 14:59] ritwik12 commented on #78
@aurochs-angels Please create a PR for this, it will be better understood that way

[2019-10-16 19:22] simonastefan commented on #57
The problematic code from requests.c was moved to defines.h but the issue still stands. I would like to fix this. Thanks!

[2019-10-16 21:20] simonastefan commented on #57
Actually, the code is ok it's just the name of defined limits that are wrong:
https://github.com/ritwik12/Virtual-Assistant/blob/3905ebdc57cf5833b3898c83f1775f951b884c12/utils/defines.h#L9-L10
in
https://github.com/ritwik12/Virtual-Assistant/blob/3905ebdc57cf5833b3898c83f1775f951b884c12/utils/defines.h#L44
It should be `const char *classifier[LAST_FIELD][NUM_CLASS][NUM_WORDS]`

This is not a funct

[2019-10-17 07:08] ritwik12 commented on #57
@simonastefan Lets give it a try, I was curious about hardcoded limits while merging that PR also. Please check if your suggestion works well.

[2019-11-07 13:23] ritwik12 commented on #78
Solved in #79, Thanks @aurochs-angels

[2019-11-07 13:23] #78 closed

[2020-04-13 08:45] Eldart95 opened #84 "Add basic math capabilities"
i would like to contribute basic math capabilities to the assistant (and update the readme of course), what do you think about that ?

[2020-04-13 18:35] ritwik12 commented on #84
That will be good. can you add some complex maths too in addition to basic maths? That will be great.

[2020-04-14 06:35] Eldart95 commented on #84
sure, i was thinking about addition,subtraction,multiplication,division,power and reminder.
anything else ?

[2020-04-14 13:07] ritwik12 commented on #84
@Eldart95 That will be great for basics. Let's first do that

[2020-04-15 09:31] Eldart95 commented on #84
while i was implementing the calculator i realized that it would be better to use the command line - calculator - as it has many capabilities.
i also added an calculator feature witch brings up the calculator.
readme also has been updated.
i made a push request for your review.

[2020-04-15 10:44] ritwik12 commented on #84
@Eldart95 Ohk, Will review. Thanks :)

[2020-04-23 19:26] ritwik12 commented on #84
Thanks @Eldart95, nice contribution to Virtual Assistant.
Closing this being merged

[2020-04-23 19:26] #84 closed

[2020-05-20 10:40] RoyMattar commented on #41
Hey! @ritwik12 @riya-17
Is Virtual-Assistant still active? I see the last commit is from a few months ago.
I would like to contribute and I have some propositions to make and/or issues to try and resolve.

Roy

[2020-05-20 10:55] ritwik12 commented on #41
@RoyMattar Yes, it is Active :)

[2020-05-23 17:44] RoyMattar commented on #50
I agree with refactoring/restructuring in this way, where pieces of logic are extracted into separate src files (.c) but only header files (.h) are included.
Including src files is commonly considered bad practice, while the approach proposed here supports modular design, which is better and a lot easier to maintain, scale and test/debug.

I have started working on refactoring the code in this way

[2020-05-23 19:22] ritwik12 commented on #50
@RoyMattar Thanks for taking interest!!

[2020-05-31 23:38] Grace-Morales commented on #66
I would like to help create a Doc for any of the features, is there any I can work on? I have not done this before, but I'm willing to do my best and work hard.

[2020-06-01 14:43] ritwik12 commented on #66
@Grace-Morales Thanks for taking an interest. We have tried our best to make the README.md as explainable as possible but for now we only have how to use the features and not how they work And with respect to that we need the working of `Restaurants`, `Emails`, `Search`, `Media` and etc features. How it works and all the things in the readme section only. Can you try to go through the PR and code

[2020-06-02 06:26] Grace-Morales commented on #66
So you just want me to go through the README.md and write documentation for how the features are going to work? Also, just to clarify, by PR do you mean pull request? Thank you for getting back to me.

[2020-06-02 06:40] ritwik12 commented on #66
@Grace-Morales Yes. Pull request

[2020-06-04 00:34] jake-schmidt99 commented on #66
Hi there! If I could help with the documentation process.  I'm still relatively new to coding so I feel like this would be the best way for me to help out with the project.

[2020-06-04 09:55] Hengistsson commented on #14
Hi @ritwik12,
I am a beginner looking to try helping out.
Do you have any guidance on how you think this should be done? Or a good place to start?

[2020-06-06 12:53] ritwik12 commented on #66
@jake-schmidt99 Please go ahead, I see that you have already sent a PR. Thanks!!

[2020-06-06 12:54] ritwik12 commented on #14
@Hengistsson Please go through the code once, We started storing arrays and all in separate files. If it still requires improvement. We can have a discussion here for that.

[2020-07-09 01:28] mcavazotti commented on #72
Hey there, I just landed on this page from up-for-grabs.net, so I don't know much about this project.
From what I understood from the code snipet, you are searching words across categories, right. Wouldn't a tree structure help with the time complexity. You could use a [Radix tree](https://en.wikipedia.org/wiki/Radix_tree), and the node could be something like this:
[code]

I hope this comment hel

[2020-07-09 13:15] ritwik12 commented on #72
@mcavazotti Hey, thanks for taking interest. good to hear you landed from up-for-grabs.net, I am there too :P

Radix tree would just be a DS to store those words instead of values. While iterating through them it will still be the same.

Can you please share an example for this. You can see [here](https://github.com/ritwik12/Virtual-Assistant/blob/master/src/analysis.c) for analysis part with whic

[2020-07-14 13:52] mcavazotti commented on #72
While working on it, I thought about other algorithms. The main difference comes down to memory usage. Being said that, where do you intend to run this assistant (Raspberry PI, personal computer, etc)? And how many phrases/words do you expect to classify (thousands, 10k, 1M)?

[2020-07-14 13:53] mcavazotti commented on #72
And will there be insertions of new words/phrases at runtime?

[2020-07-14 13:58] ritwik12 commented on #72
@mcavazotti For now this is intended to Systems only mainly PC, Laptops. Also, about the phrases it should not be more than 50-100 words even if you are searching something on the internet. We can always restrict the max. use of phrases as this project is intented towards being a Virtual assistant and performaning the tasks which should not have that much keywords.

At runtime it is just the inser

[2020-07-21 23:23] mcavazotti commented on #38
Hey, shouldn't this issue be closed?

[2020-07-21 23:24] mcavazotti commented on #72
I think you can close this issue

[2020-07-21 23:24] mcavazotti commented on #35
And you can close this one too :grin:

[2020-07-23 12:18] ritwik12 commented on #35
@mcavazotti YEah, This can be closed. Thanks!!

[2020-07-23 12:18] #35 closed

[2020-07-23 12:20] ritwik12 commented on #72
@mcavazotti The code is pretty huge and there are still many Complexity improvements and a lot of which are not yet been discovered. Don't think we can close this.

[2020-07-23 12:20] ritwik12 commented on #38
@mcavazotti Yea, Thanks for the reminder.

[2020-07-23 12:20] #38 closed

[2020-07-23 12:26] mcavazotti commented on #72
@ritwik12 Well then, for the code mentioned in this issue, the time complexity was optimized.

I can look further into the code, but do you have any other leads to where there might be other performance bottlenecks?

[2020-09-11 14:25] vnksnkr commented on #32
Is this issue still open?I would like to work on it

[2020-09-12 10:22] ritwik12 commented on #32
@vnksnkr Yes this is open, please go ahead!!

[2020-09-13 12:06] vnksnkr commented on #32
@ritwik12 thanks, I'm working on the wikipedia api..can you clarify on how to implement the same via google search?

[2020-09-13 14:46] ritwik12 commented on #32
@vnksnkr Fetching details directly from Wikipedia would not be an intelligent way to do this. It could be a part of the whole process but we need something better to intelligently scrap the internet and answer the question.

[2020-09-13 15:16] vnksnkr commented on #32
@ritwik12 does google allow to scrape their search results? one way is to use their api

[2020-09-13 17:53] ritwik12 commented on #32
@vnksnkr No, it isn't too direct. We need an Algorithm here to work this out. Google API could be a part of it too but again not just fetching from that.

[2020-09-15 16:54] vnksnkr commented on #32
@ritwik12 I'm sorry I couldn't get that..Cant we use a websearch api to which we can directly ask the questions and since search engines algorithms  like google always show the most relevant answer (highlighted in big fonts) as the first search result..just scrape the the top one?If that wasnt the feature we were looking could you provide an example on how the algorithm should respond?

[2020-09-17 19:47] ritwik12 commented on #32
@ritwik12 This is a Hack that we can use if we have the access to the Google Search results. We can look for a way to get the One Word or One Para answer from Google. For example:

`when is christmas?`
Google answers it simply like `Friday, 25 December`

But for cases like `What is Deep Learning?`

It does not give us a direct answer, in that case we need to fetch a brief summary from the first li

[2020-09-18 16:56] vnksnkr commented on #32
@ritwik12 Thanks for the clarification..my initial thought process was to collect relevant results using common sources like Wikipedia, Quora, google search etc and crank up some way to display the most relevant result

[2020-10-01 21:46] #46 closed

[2020-10-03 12:22] hardikpnsp commented on #73
Is someone still working on this? I would like to take this up if not, I can try to debug the Makefile present in the PR or make a new one from scratch as it is not working for me either.

[2020-10-03 18:26] ritwik12 commented on #73
@hardikpnsp Please go ahead, Thanks for taking interest.

[2020-10-04 10:46] #73 closed

[2020-10-15 15:57] vnksnkr commented on #32
@ritwik12 I was really looking forward to making a PR..unfortunately bringing up an ML algorithm is something out of my reach right now..although i would to learn it someday soon..still I'm really interested in this repo and I'm hoping to contribute..I'll probably look into some other issue and work my way around it. :)

[2020-10-15 16:12] vnksnkr commented on #16
How should the feature work ? Should the assistant run in background ? One way is to ask the assistant what is on the user's schedule on particular day and get relevant information.

[2020-10-15 20:05] ritwik12 commented on #32
@vnksnkr Thanks :)
Sure, feel free to pick up any issue or if you think there is anything that will be good for this project. Feel free to open up new issues too. it could be a Bug fix, Feature request etc

[2020-10-15 20:07] ritwik12 commented on #16
@vnksnkr  yeah, It will mainly depend on the third party app that you would like to use for Reminder, It could be google calendar, Outlook calendar, MacOs calendar or any other open source tool that will have calendars.

Choice and approach is totally on the developer, Do let us know your ideas before going forward to get better help.

[2020-10-16 10:23] vnksnkr commented on #16
I was thinking of something that runs locally,keeps track of scheduled events and informs the users of the events scheduled for the particular day whenever the program is run

[2020-10-16 12:06] vnksnkr commented on #16
I was thinking about running the feature locally that keeps track of events and the informs the user when there are events on a particular day.Using the calendar api requires OAuth2.0..could you give me some more pointers on how to implement it?

[2020-10-16 12:14] ritwik12 commented on #16
@vnksnkr You can do that locally also. As you mentioned.

[2020-10-17 13:46] vnksnkr commented on #16
@ritwik12 Should I add the feature as a function in functions.c?

[2020-11-03 18:30] anindyasen commented on #41
Hi @ritwik12 Is this project still active? I was trying to run the code. Found some bugs here and there like
1. "temperature in New Delhi" is always taking me to emails.
2. Space separated locations are not working properly.
3. Asking for restaurant is always taking me to google search
Also, have some ideas like once virtual assistant is installed. It should run from anywhere in the workspace rath

[2020-11-03 20:12] ritwik12 opened #104 "Update Knowledge base (corpus)"
To make NLP (Natural Language Processing) better, we need to update the corpus time to time with new additions of data.

[2020-11-03 20:21] ritwik12 commented on #41
@anindyasen Thanks for reporting all these issues.

* Thanks for pointing this out, our Knowledge base got too old and needed an update as the new categories were making it confuse. Opened #104 for that to take care in future and added #105 for now to update it.

* Which locations do you mean? The ones we get for WEATHER feature or the RESTAURANT one? For me it is working easily in WEATHER. Can yo

[2020-11-04 09:10] vnksnkr opened #106 "Ineligible Repository For Hacktoberfest"
I got started with open source through this project in spirit of taking part in Hacktoberfest. Seems like my PR didnt get counted as it shows this repo as ineligible :\ . Any idea why that happened ?
Thanks!

[2020-11-04 09:33] ritwik12 commented on #106
@vnksnkr I am not sure, all other PRs got counted. Also I added the Topic `hacktoberfest` too once I got to know about that. Maybe your PR got in the way of that when they started using hacktoberfest topic for eligible repositories. You could have told me about that then I would've marked your PR eligible. Let me try if possible now.

[2020-11-04 09:36] ritwik12 commented on #106
If it helps now, I have marked #102 with `hacktoberfest-accepted` label.

[2020-11-13 16:11] anindyasen opened #107 "Introduce make install and uninstall in makefile"
make install will install the binary and other dependencies in /usr/bin, this will help to run virtual_assistant accessible from anywhere. Uninstall will clean up the changes.

[2020-11-15 18:18] ritwik12 commented on #107
@anindyasen How will someone execute it? For now one need to do `./build/virtual_assistant` after make.
Please update readme too accordingly.

[2020-11-16 09:38] anindyasen commented on #107
after make
sudo make install
then "virtual_assistant" will run it from any location
to remove the changes:
sudo make uninstall

[2020-11-18 19:13] ritwik12 commented on #107
Ohk, that works fine. Thanks a lot!!

[2020-11-18 19:13] #107 closed

[2021-02-05 11:03] RitikDutta commented on #25
hey @ritwik12 i can see you have added hacktoberfest label,
can you please tell me what is that
as i am new to the community trying to understand github little bit.
thankyou.

[2021-02-06 18:05] ritwik12 commented on #25
Hacktoberfest is a monthlong celebration of open source software run by DigitalOcean. Hacktoberfest is open to everyone in our global community! Four quality pull requests must be submitted to public GitHub repositories. You can sign up anytime between October 1 and October 31.

https://hacktoberfest.digitalocean.com/

@RitikDutta For your question, let me know if you want to know anything else :)

[2021-08-15 19:23] #106 closed

[2022-02-24 03:45] Starconstructor opened #133 "Things defined in main.c also defined in init_config.c"
After I invoke make, this is printed out:

`gcc -c -o build/init_config.o src/init_config.c -std=gnu11 -Isrc -Iutils `pkg-config --cflags libcurl`
gcc -o build/virtual_assistant build/main.o build/init_config.o -std=gnu11 -Isrc -Iutils `pkg-config --cflags libcurl` -lssl -lcrypto -ljson-c `pkg-config --libs libcurl`
/usr/bin/ld: build/init_config.o:(.bss+0x0): multiple definition of `str'; build/m

[2022-02-24 21:39] Starconstructor commented on #133
Sure. I'll do some sifting.

[2022-02-25 00:25] Starconstructor commented on #133
This issue in particular has been fixed, but before I make a branch and do a pull request, I need to fix some other problems. Should I file new issues for these or just discuss them within this one?

[2022-09-20 13:01] SANTHOSH-MAMIDISETTI opened #134 "[ideas pls] what to contribute"
Hello , I am Santhosh and  am new to open-source and all .This Virtual assistant seems interesting for me , it would be highly appreciated if u can give me some ideas for me to start and work with and so that I may be able to comtribute :) Thanks

[2022-09-20 19:27] ritwik12 commented on #134
@SANTHOSH-MAMIDISETTI Hey, thanks for your interest in this. Please go through the project once. Try to make it work in your system. Look for any open issues or anything you might want to add to this.

Let me know if any help needed.

[2022-09-20 19:27] #134 closed, assigned to nobody